*,
*::before,
*::after {
  box-sizing: border-box;
}

/* this initial part was so stuff didn't bleed out, cause the default box-sizing doesn't consider margins and padding */

html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100%;
  /* Ensure body takes full viewport height */
}


body {
  font-family: "Inter", sans-serif, system-ui;
  line-height: 1.6;
  width: 100%;
  min-width: 320px;
  font-size: 16px;

  /* Use variables for colors that change in dark mode */
  color: var(--text-color);
  background-color: var(--page-bg);

  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --text-color: #333;
  --page-bg: #f4f7f6;
}


.dark-mode{
  --text-color: #f0f0f0;
  --page-bg: #1a1a1a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f0f0f0;
    --page-bg: #1a1a1a;
  }
} */

/* min-width: 320px;  */
/* Prevents horizontal scrolling on very narrow screens */