*,
*::before,
*::after {
  box-sizing: border-box;
}

/* this initial part was so stuff didn't bleed out, cause the default box-sizing doesn't consider margins and padding */

html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100%;
  /* Ensure body takes full viewport height */
}

body {
  font-family: "Inter", sans-serif, system-ui;
  color: #333;
  background-color: #f4f7f6;
  /* Light background */
  line-height: 1.6;
  width: 100%;
  min-width: 320px;
  font-size: 16px;
}

/* min-width: 320px;  */
/* Prevents horizontal scrolling on very narrow screens */